@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import "./navbar.scss";
@import "./pages/error-page.scss";
@import "./pages/home-page.scss";
@import "./components/blog-details.scss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(208, 208, 208);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
