.blog-details {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2em;
  margin: 2em;

  h2 {
    color: rgb(48, 48, 255);
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}
